@using motekarteknologi.Areas.crm.ViewModels.Common
@model ChildCreateNew

<a class="btn btn-default" href="@Url.Action("Create", Model.ControllerName, new { MasterID = Model.MasterID } )">Create New</a>