@using motekarteknologi.Areas.crm.ViewModels.Common
@model motekarteknologi.Areas.crm.Models.LeadActivity

@{
    ViewData["Title"] = "Edit";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Edit Activity
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <form asp-action="Edit">
            <input type="hidden" asp-for="ID" />
            @Html.Partial("_CreateEdit")
            @Html.Partial("_ChildActionButtons", new ChildActionButton()
            {
                MasterControllerName = "Leads",
                MasterActionName = "Edit"
            })
        </form>

    </section>
    <!-- /.content -->
</div>


