@model motekarteknologi.Areas.crm.Models.Lead
<div class="row">
    <div class="col-md-12">
        
        <div class="box box-primary">
            <div class="box-body">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control input-lg" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group pull-right">
                            <input type="submit" value="Create" class="btn btn-default" />
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control input-sm" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="Priority" class="control-label"></label>
                            <input asp-for="Priority" class="form-control input-sm" />
                            <span asp-validation-for="Priority" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4"></div>
                </div>

               
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#general" data-toggle="tab">Address</a></li>
                <li><a href="#contact" data-toggle="tab">Contacts</a></li>
                <li><a href="#additional" data-toggle="tab">Additional Contacts</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="general">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label asp-for="Street" class="control-label"></label>
                                <input asp-for="Street" class="form-control input-sm" />
                                <span asp-validation-for="Street" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label asp-for="Street2" class="control-label"></label>
                                <input asp-for="Street2" class="form-control input-sm" />
                                <span asp-validation-for="Street2" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label asp-for="City" class="control-label"></label>
                                <input asp-for="City" class="form-control input-sm" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label asp-for="State" class="control-label"></label>
                                <input asp-for="State" class="form-control input-sm" />
                                <span asp-validation-for="State" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label asp-for="ZIP" class="control-label"></label>
                                <input asp-for="ZIP" class="form-control input-sm" />
                                <span asp-validation-for="ZIP" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label asp-for="Country" class="control-label"></label>
                                <input asp-for="Country" class="form-control input-sm" />
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label asp-for="Website" class="control-label"></label>
                                <input asp-for="Website" class="form-control input-sm" />
                                <span asp-validation-for="Website" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">

                        </div>
                        <div class="col-lg-4">

                        </div>
                    </div>



                    
                </div>
                <div class="tab-pane" id="contact">

                    <div class="form-group">
                        <label asp-for="ContactName" class="control-label"></label>
                        <input asp-for="ContactName" class="form-control input-sm" />
                        <span asp-validation-for="ContactName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="JobPosition" class="control-label"></label>
                        <input asp-for="JobPosition" class="form-control input-sm" />
                        <span asp-validation-for="JobPosition" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control input-sm" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label asp-for="Mobile" class="control-label"></label>
                                <input asp-for="Mobile" class="form-control input-sm" />
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label asp-for="Phone" class="control-label"></label>
                                <input asp-for="Phone" class="form-control input-sm" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                    </div>






                </div>
                <div id="additional" class="tab-pane">
                    https://stackoverflow.com/questions/45205436/how-to-keep-selected-tab-as-active-after-button-click
                </div>
            </div>
        </div>
    </div>
</div>