@model motekarteknologi.Areas.crm.Models.Lead

@{
    ViewData["Title"] = "Create";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="pull-left">
            <h1>
                Create Lead
            </h1>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">

        <form asp-action="Create">
            @Html.Partial("_CreateEdit")
        </form>

    </section>
    <!-- /.content -->
</div>


