@model motekarteknologi.Areas.crm.Models.Lead

@{
    ViewData["Title"] = "Delete";
}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h2>Delete</h2>

        <h3>Are you sure you want to delete this?</h3>
    </section>

    <!-- Main content -->
    <section class="content">
        <form asp-action="Edit">
            @Html.Partial("_CreateEdit")

        </form>

    </section>
    <!-- /.content -->
</div>
