@model motekarteknologi.Areas.crm.Models.Lead

@{
    ViewData["Title"] = "Details";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Detail
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <form asp-action="Edit">
            @Html.Partial("_CreateEdit")

        </form>

    </section>
    <!-- /.content -->
</div>
