@model motekarteknologi.Areas.crm.Models.Lead

@{
    ViewData["Title"] = "Create";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Edit Lead
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <form asp-action="Edit">
            <input type="hidden" asp-for="ID" />
            @Html.Partial("_CreateEdit")

        </form>

    </section>
    <!-- /.content -->
</div>


